.conteudo{   /*CLASS SE USA /./*/
	border: 1px solid red;
	/*PADDING - Espaçamento interno*/
	/*padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;*/
	/*padding: 20px*/
	/*padding: 20px 10px*/
	padding: 20px 15px 10px 5px; /*top, right, bottom, left*/

	/*MARGIN - Espaçamento externo - margin-top,right,left*/
	margin-top: 20px;
	margin-left: 20px;
	/*margin: 20px 15px 10px 5px;*/

	width: 150px;
}

#noticia{
	/*background: grey;*/
	padding: 10px;
	border: 1px solid grey;
}

h2{
	margin: 0px; /*H2 já tem espaçamento padrao..*/
	/*border: 1px solid;*/
}